.about {
  height: 40vh;
  background-color: var(--light-grey);
  color: var(--blue);
}

.about h1 {
  margin: 0;
  font-size: 55px;
}

.about .data {
  width: 44%;
  margin: 0 auto;
  font-size: 26px;
}
