.header {
  width: 100vw;
  z-index: 100;
  position: sticky;
  top: 0;
}

.data {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  color: var(--blue);
}

.nav ul {
  list-style: none;
  display: flex;
  padding-right: 0;
}

.nav ul li {
  margin: 1rem;
  margin-right: 0;
  font-size: 19.02px;
}
